@font-face {
    font-family: 'SentenceDEMO';
    src: url(../../font/SentencedemoPersonalUse.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../../font/Roboto-Bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../../font/Roboto-Light.ttf);
    font-style: normal;
}